@font-face {
	font-family:Titulo;
	src:url(../fontes/ANODETONOONE.TTF);
}

h2{
	font-family: Titulo;
	text-align: center;
    color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #0B3B39;
}

#memoryGame {
    height: 600px;
    width: 700px;
    margin: auto;
    display: flex;
    flex-wrap: wrap; /*Elementos não cabendo na linha, há a quebra de linha*/
    perspective: 1000px; /* perspectiva do usuario no eixo z, quanto maior, maior o efeito da perspectiva */
}

.card {
    height: 190px;
    width: 100px;
    margin: 5px;
    position: relative;
    cursor: pointer;
    transform: scale(1);
    transform-style: preserve-3d; /* adiciona perspectiva 3d, para que o elemento nao fique achatada no plano */
    transition: transform .9s; /* adiciona efeito de movimento ao flip do card */
}

.card:active{
    transform: scale(0.97);
    transition: transform .2s;
}

.card:hover{
    height: 195px;
    width: 105px;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  border-radius: 25px 0 25px 0;
  background: #000;
  backface-visibility: hidden; /* todo elemento tem uma frente e um verso (ao contrario, como um espelho.) essa propriedade retira o verso */
}

.card-front {
    transform: rotateY(180deg); /* antes, o verso aparecia transparente, pois ambas as imagens tem position absolute, ao girar no eixo Y, elas ficaram com os versos virados */
}

/* flip card animation */

.card.flip {
    transform: rotateY(180deg);
}