@font-face{
    font-family: TitleFont;
    src: url(../fontes/AmericanSigns.otf);
}

@font-face {
	font-family:GameFont;
	src:url(../fontes/ANODETONOONE.TTF);
}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-family: TitleFont;
    background-color: #9A2EFE;
}

#mainArea{
    background-color: black;
    background-image: url(../img/space.png);
    height: 610px;
    width: 600px;
}

.game-instructions{
    font-family: TitleFont;
    font-weight: bolder;
    position: relative;
    color: white;
    left: 6rem;
    top: 0px;
}

.start-button{
    font-family: GameFont;
    font-size: 16px;
    position: relative;
    color: white;
    top: 9rem;
    left: 15rem;
    cursor: pointer;
}

.hero {
    position: relative;
    height: 60px;
    width: 70px;
    left: 20px;
    top: 250px
}

.laser {
    position: relative;
    width: 40px;
    height: 30px;
}

.alien {
    height: 60px;
    width: 70px;
    position: relative;
}

.alien-transition {
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.dead-alien {
    height: 60px;
    width: 70px;
    position: relative;
    opacity: 0;
}